{% extends "index.html" %}

{% block content %}
<div class="container-search">
    <!-- Search form for hotels tab -->
    <form class="form-container" action="{{ url_for('search_hotels') }}" method="get">
        <div class="form-group search_box" style="margin-left: 600px;">
            <input type="text" class="form-control wide_search" name="search-input" id="search-input" placeholder="Search...">
            <div class="search-results" id="search-results" style="display: none;">
                <ul></ul>
            </div>
        </div>
        <div class="form-group search_box">
            <button type="submit" class="btn btn-default">Go</button>
        </div>
    </form>
</div>
    <script>
    $(document).ready(function() {
    searchInputHandler('search-input', 'search-results');
    });
    </script>

    <script>
        $(document).ready(function() {
        // get the height of .nav1
        var nav1Height = $('.nav1').height();
        var nav2Height = $('.nav2').height();

        // set the margin-top of .nav2 to the height of .nav1
        $('.container-search').css('margin-top', nav1Height + nav2Height + 'px');
        });
    </script>
{% endblock %}