{% extends "index.html" %}

{% block content %}
<div class="container-search">
    <!-- Search form for places tab -->
    <form class="form-container" action="{{ url_for('search_places') }}" method="get">
        <div class="form-group search_box" style="margin-left: 600px;">
            <input type="text" class="form-control wide_search" name="search-input" id="search-input" placeholder="Search...">
            <div class="search-results" id="search-results" style="display: none;">
                <ul></ul>
            </div>
        </div>
        <div class="form-group search_box">
            <button type="submit" class="btn btn-default">Go</button>
        </div>
    </form>
</div>
<div class="container-results">    
      <div class="row">
        <div class="col-md-2 filter-component">
          <h5>Filters</h5>
          <form id="filter-form">

            <!-- drop down filter -->
            <div class="filter-element">
              <label for="category"><b style="font-size:13px;">CATEGORY</b></label>
              <div class="form-group">
                <select class="form-control" id="category" style="font-size:13px;">

                  <script>
                    var categories = ["All", "Books", "Electronics", "Clothing"]; // Replace with your options
                    for (var i = 0; i < categories.length; i++) {
                      document.write('<option>' + categories[i] + '</option>');
                    }
                  </script>

                </select>
              </div>
            </div>


            <!-- checkbox filter -->
            <div class="filter-element">
              <label for="category"><b style="font-size:13px;">CUISINES</b></label>
              <div class="form-group">
                <ul>

                <script>
                  var options = ["option1", "option2", "option3", "option4"]; // Replace with your options
                  for (var i = 0; i < options.length; i++) {
                    document.write('<li>');
                    document.write('<div class="form-check">');
                    document.write('<input class="form-check-input" type="checkbox" value="' + options[i] + '" id="checkbox' + (i+1) + '">');
                    document.write('<label class="form-check-label" for="checkbox' + (i+1) + '">' + options[i] + '</label>');
                    document.write('</div>');
                    document.write('</li>');
                  }
                </script>

              </ul>
              </div>
            </div>

            <!-- search box filter -->
            <div class="filter-element">
              <label for="category"><b style="font-size:13px;">NAMES</b></label>
              <div class="form-group search_box_filter">
                <input type="text" style="font-size:13px;" class="form-control filter_search" name="search-filter-input" id="search-filter-input" placeholder="Name...">
                <div class="search-results" id="search-filter-results" style="display: none;">
                    <ul></ul>
                </div>
              </div>
            </div>

            <!-- search box add tags -->
            <div class="filter-element">
              <label for="category"><b style="font-size:13px;">TAGS</b></label>
              <div class="tags_layout">
                <div class="form-group search_box_tag_filter" id="search-box-tag-filter">
                  <input type="text" style="font-size:13px;" class="form-control tag_filter_search" name="search-tag-filter-input" id="search-tag-filter-input" placeholder="Name...">
                  <div class="search-results" id="search-tag-filter-results" style="display: none;">
                      <ul></ul>
                  </div>
                </div>
                <button onclick="addToTag()" type="button" class="btn btn-default" style="font-size:13px;">Add</button>
              </div>
              <div class="form-group search_box_tags" id = "search-box-tags">
                <ul>
                <script type = "text/javascript" src="static/script.js">
                </script>
                </ul>
              </div>
              
            </div>

            <!-- force filter button to next line -->
            <br><br><br>
              <div style = "display:block;">
                <button type="submit" class="btn btn-primary" style="font-size:13px;">Filter</button>
              </div>
          </form>
        </div>
        <div class="col-md-6 filter_results_places_container" id="filter_results_places_container">
          <!-- Your search results go here -->
        </div>
      </div>
</div>
      <script>
      $(document).ready(function() {
        searchInputHandler('search-input', 'search-results');
      });
      </script>

      <script src = "static/script.js" defer></script>
      <script>
      // drop down search logic
      $(document).ready(function() {
        searchInputHandler('search-filter-input', 'search-filter-results');
      });
      </script>

      <script>
      // drop down search logic
      $(document).ready(function() {
        searchInputHandler('search-tag-filter-input', 'search-tag-filter-results');
      });
      
      $(document).on('click', '.dropdown-item', function() {
        var value = $(this).text();
        $('#search-tag-filter-input').val(value);
        $('#search-tag-filter-results').hide();
      });
      </script>

      <script>
        function isLoggedIn() {
          var sessionString = '{{ session|tojson }}';
          var sessionObj = JSON.parse(sessionString);
          if ('user' in sessionObj) {
            return true;
          }
          else{
            return false;
          }
        }

          // Get references to the filter elements
          const categoryFilter = document.getElementById('category');
          const searchResults = document.getElementById('filter_results_places_container');

          // This is just some dummy data for demonstration purposes
          const allResults = [
            { title: 'Book 1', category: 'Books', option: "option1", name: "abc", tag: "abc", place: "place1", city: "city1", state: "state1", rating: 4.5, num_ratings: 100, in_favorite: true, given_rating: 5},
            { title: 'Book 2', category: 'Books', option: "option2", name: "def", tag: "def", place: "place2", city: "city2", state: "state2", rating: 4.5, num_ratings: 100, in_favorite: true, given_rating: 4},
            { title: 'Electronics 1', category: 'Electronics', option: "option3", name: "ghi", tag: "ghi", place: "place3", city: "city3", state: "state3", rating: 4.5, num_ratings: 100, in_favorite: true, given_rating: 3},
            { title: 'Electronics 2', category: 'Electronics', option: "option1", name: "abc", tag: "abc", place: "place4", city: "city4", state: "state4", rating: 4.5, num_ratings: 100, in_favorite: false, given_rating: 2},
            { title: 'Clothing 1', category: 'Clothing', option: "option2", name: "def", tag: "def", place: "place5", city: "city5", state: "state5", rating: 4.5, num_ratings: 100, in_favorite: false, given_rating: 1},
            { title: 'Clothing 2', category: 'Clothing', option: "option3", name: "ghi", tag: "ghi", place: "place6", city: "city6", state: "state6", rating: 4.5, num_ratings: 100, in_favorite: false, given_rating: 0}
          ];

          
          // Function to display the search results on the page
          function displayResults(results) {
            const createStarRating = (rating, numRatings) => {
              let stars = '<p>';
              const fullStars = Math.floor(rating);
              const halfStar = rating % 1 !== 0;
              const emptyStars = 5 - fullStars - halfStar;
              for (let i = 0; i < fullStars; i++) {
                stars += '<i class="fas fa-star rating-star"></i>';
              }
              if (halfStar) {
                stars += '<i class="fas fa-star-half-alt rating-star"></i>';
              }
              for (let i = 0; i < emptyStars; i++) {
                stars += '<i class="far fa-star rating-star"></i>';
              }
              stars += `</p><br><p style="color: blue; font-size: small;">${numRatings} ratings</p>`;
              return stars;
            };

            const createRatingDropdown = () => {
              let dropdown = '<div class="dropdown">';
              if (isLoggedIn()) {
                dropdown += '<button class="btn btn-primary dropdown-toggle" type="button" id="rating-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">';
              }
              else{
                dropdown += '<button class="btn btn-primary dropdown-toggle disabled" type="button" id="rating-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">';
              }
              dropdown += '<i class="fas fa-thumbs-up fa-2x" style="color: goldenrod;"></i>';
              dropdown += '</button>';
              dropdown += '<div class="dropdown-menu" aria-labelledby="rating-dropdown">';
              
              for (let i = 5; i > 0; i--) {
                dropdown += '<div class="dropdown-item">';
                dropdown += `<label class="rating-label" for="rating-${i}">`;
                dropdown += `<input type="radio" id="rating-${i}" name="rating" value="${i}">`;

                for (let j = 0; j < i; j++) {
                  dropdown += '<i class="fas fa-star rating-star"></i>';
                }

                for (let j = 0; j < 5 - i; j++) {
                  dropdown += '<i class="far fa-star rating-star"></i>';
                }
                
                dropdown += '</label>';
                dropdown += '</div>';

              }

              dropdown += '</div>';
              dropdown += '</div>';

              return dropdown;
            };

            const createFavoriteButton = (inFavorite) => {
              if (isLoggedIn()) {
                if (inFavorite) {
                  return '<button type="button" class="btn btn-primary"><i class="fas fa-heart fa-2x", style="padding-right: 10px;"></i>Add to Favorites</button>';
                }
                return '<button type="button" class="btn btn-primary"><i class="far fa-heart fa-2x", style="padding-right: 10px;"></i>Add to Favorites</button>';
              }
              else{
                return '<button type="button" class="btn btn-primary disabled"><i class="fas fa-heart fa-2x", style="padding-right: 10px;"></i>Add to Favorites</button>';
              }
            };
            
            const createResultCard = (result) => {
              let card = '<li class="list-group-item">';
              card += '<div class="row">';
              card += '<div class="col-md-4">';
              card += `<h4>${result.place}</h4>`;
              card += `<h5>${result.city}, ${result.state}</h5>`;    
              card += '</div>';
              card += '<div class="col-md-3">';
              card += createStarRating(result.rating, result.num_ratings);  
              card += '</div>';
              card += '<div class="col-md-3" style="display: flex; align-items: center;">';
              card += createFavoriteButton(result.in_favorite);
              card += '</div>';
              card += '<div class="col-md-2", style="display: flex; align-items: center;">';
              card += createRatingDropdown();
              card += '</div>';
              card += '</div>';
              card += '</li>';
              return card;
            };

            let resultsHTML = '<h2>Search Results</h2>';
            resultsHTML += '<ul class="list-group">';
          
            results.forEach((result) => {
              resultsHTML += createResultCard(result);
            });

            resultsHTML += '</ul>';

            const resultsContainer = document.getElementById('filter_results_places_container');
            resultsContainer.innerHTML = resultsHTML;
          }

          function searchPlacesResultsHandler(event, allResults) {

            event.preventDefault();

            const optionsFilter = getCheckedOptions();
            const searchFilter = $('#search-filter-input').val();
            const tagsFilter = getAddedTags();
            const selectedCategory = categoryFilter.value;

            // Filter the results based on the selected values
            const filteredResults = allResults.filter((result) => {
              if (
                (selectedCategory === 'All' || selectedCategory === result.category) &&
                (optionsFilter.includes(result.option)) && (searchFilter === result.name) &&
                (tagsFilter.includes(result.tag))
              ) {
                return true;
              }
              return false;
            });

            // Display the filtered results
            displayResults(filteredResults);
          }

          // Event listener for the filter form
          document.getElementById('filter-form').addEventListener('submit', (event) => {
            searchPlacesResultsHandler(event, allResults);
          });
          
      </script>
{% endblock %}