{% extends "index.html" %}

{% block content %}
<div class="container-search">
    <!-- Search form for places tab -->
    <form class="form-container" id="search-bar-form">
        <div class="form-group search_box" style="margin-left: 600px;">
            <input type="text" class="form-control wide_search" name="search-input" id="search-input" placeholder="Search...">
            <div class="search-results" id="search-results" style="display: none;">
                <ul></ul>
            </div>
        </div>
        <div class="form-group search_box">
            <button type="submit" class="btn btn-default">Go</button>
        </div>
    </form>
</div>
<div class="container-results">    
      <div class="row">
        <div class="col-md-2 filter-component">
          <h5>Filters</h5>
          <form id="filter-form">

            <!-- drop down filter -->
            <div class="filter-element">
              <label for="category"><b style="font-size:13px;">CATEGORY</b></label>
              <div class="form-group">
                <select class="form-control" id="category" style="font-size:13px;">

                  <script>
                    var categories = ["All", "Books", "Electronics", "Clothing"]; // Replace with your options
                    for (var i = 0; i < categories.length; i++) {
                      document.write('<option>' + categories[i] + '</option>');
                    }
                  </script>

                </select>
              </div>
            </div>


            <!-- checkbox filter -->
            <div class="filter-element">
              <label for="category"><b style="font-size:13px;">CUISINES</b></label>
              <div class="form-group">
                <ul>

                <script>
                  var options = ["option1", "option2", "option3", "option4"]; // Replace with your options
                  for (var i = 0; i < options.length; i++) {
                    document.write('<li>');
                    document.write('<div class="form-check">');
                    document.write('<input class="form-check-input" type="checkbox" value="' + options[i] + '" id="checkbox' + (i+1) + '">');
                    document.write('<label class="form-check-label" for="checkbox' + (i+1) + '">' + options[i] + '</label>');
                    document.write('</div>');
                    document.write('</li>');
                  }
                </script>

              </ul>
              </div>
            </div>

            <!-- search box filter -->
            <div class="filter-element">
              <label for="category"><b style="font-size:13px;">NAMES</b></label>
              <div class="form-group search_box_filter">
                <input type="text" style="font-size:13px;" class="form-control filter_search" name="search-filter-input" id="search-filter-input" placeholder="Name...">
                <div class="search-results" id="search-filter-results" style="display: none;">
                    <ul></ul>
                </div>
              </div>
            </div>

            <!-- search box add tags -->
            <div class="filter-element">
              <label for="category"><b style="font-size:13px;">TAGS</b></label>
              <div class="tags_layout">
                <div class="form-group search_box_tag_filter" id="search-box-tag-filter">
                  <input type="text" style="font-size:13px;" class="form-control tag_filter_search" name="search-tag-filter-input" id="search-tag-filter-input" placeholder="Name...">
                  <div class="search-results" id="search-tag-filter-results" style="display: none;">
                      <ul></ul>
                  </div>
                </div>
                <button onclick="addToTag()" type="button" class="btn btn-default" style="font-size:13px;">Add</button>
              </div>
              <div class="form-group search_box_tags" id = "search-box-tags">
                <ul>
                <script type = "text/javascript" src="static/script.js">
                </script>
                </ul>
              </div>
              
            </div>

            <!-- force filter button to next line -->
            <br><br><br>
              <div style = "display:block;">
                <button type="submit" class="btn btn-primary" style="font-size:13px;">Filter</button>
              </div>
          </form>
        </div>
        <div class="col-md-6 filter_results_places_container" id="filter_results_places_container">
          <!-- Your search results go here -->
        </div>

        <div class="col-md-3 places_recommendations" style="background-color: transparent;" id="places_recommendations">
          <script>
            function displayPlacesRecommendations(results) {
              const createPlaceRecommendationCard = (result) => {
              let card = '<li class="list-group-item">';
              card += '<div class="row">';
              card += '<div class="col-md-7">';
              card += `<h4>${result.place}</h4>`;
              card += `<h5>${result.city}, ${result.state}</h5>`;    
              card += '</div>';
              card += '<div class="col-md-5">';
              card += createStarRating(result.rating, result.num_ratings);  
              card += '</div>';
              card += '</div>';
              card += '</li>';
              return card;
            };

            let resultsHTML = '<h2>Places you might like</h2>';
            resultsHTML += '<ul class="list-group" style="height: 720px; overflow-y: scroll;">';
          
            results.forEach((result) => {
              resultsHTML += createPlaceRecommendationCard(result);
            });

            resultsHTML += '</ul>';

            const resultsContainer = document.getElementById('places_recommendations');
            resultsContainer.innerHTML = resultsHTML;
            }

            displayPlacesRecommendations(allResults)
          </script>
        </div>
      </div>
</div>
</div>

  <script src = "static/script.js" defer></script>

  <script>
  $(document).ready(function() {
    searchInputHandler('search-input', 'search-results');
  });
  </script>

  <script>
  // drop down search logic
  $(document).ready(function() {
    searchInputHandler('search-filter-input', 'search-filter-results');
  });
  </script>

  <script>
  // drop down search logic
  $(document).ready(function() {
    searchInputHandler('search-tag-filter-input', 'search-tag-filter-results');
  });
  
  $(document).on('click', '.dropdown-item', function() {
    var value = $(this).text();
    $('#search-tag-filter-input').val(value);
    $('#search-tag-filter-results').hide();
  });
  </script>

  <script>
    function isLoggedIn() {
      var sessionString = '{{ session|tojson }}';
      var sessionObj = JSON.parse(sessionString);
      if ('user' in sessionObj) {
        return true;
      }
      else{
        return false;
      }
    }

    let categoryFilterSelected = null;
    let optionsFilterSelected = null;
    let searchFilterSelected = null;
    let tagsFilterselected = null;
    let searchBarFilterSelected = null;
      
      // Function to display the search results on the page
      function displayResults(results) {
        const createResultCard = (result) => {
          let card = '<li class="list-group-item">';
          card += '<div class="row">';
          card += '<div class="col-md-4">';
          card += `<h4>${result.place}</h4>`;
          card += `<h5>${result.city}, ${result.state}</h5>`;    
          card += '</div>';
          card += '<div class="col-md-3">';
          card += createStarRating(result.rating, result.num_ratings);  
          card += '</div>';
          card += '<div class="col-md-3" style="display: flex; align-items: center;">';
          card += createFavoriteButton(result.in_favorite, isLoggedIn());
          card += '</div>';
          card += '<div class="col-md-2", style="display: flex; align-items: center;">';
          card += createRatingDropdown(isLoggedIn());
          card += '</div>';
          card += '</div>';
          card += '</li>';
          return card;
        };

        let resultsHTML = '<h2>Search Results</h2>';
        resultsHTML += '<ul class="list-group">';
      
        results.forEach((result) => {
          resultsHTML += createResultCard(result);
        });

        resultsHTML += '</ul>';

        const resultsContainer = document.getElementById('filter_results_places_container');
        resultsContainer.innerHTML = resultsHTML;
      }

      function setFilterValues(){
        categoryFilterSelected = $('#category').val();
        searchFilterSelected = $('#search-filter-input').val();
        optionsFilterSelected = getCheckedOptions();
        tagsFilterselected = getAddedTags();
      }

      function setSearchBarValues(){
        searchBarFilterSelected = $('#search-input').val();
      }

      function searchPlacesResultsHandler() {
        // Filter the results based on the selected values
        const filteredResults = allResults.filter((result) => {
          if (categoryFilterSelected !== null){
            if (!(categoryFilterSelected === 'All' || categoryFilterSelected === result.category)) {
              return false;
            }
          }
          if (optionsFilterSelected !== null){
            if (!(optionsFilterSelected.includes(result.option))) {
              return false;
            }
          }
          if (searchFilterSelected !== null){
            if (!(searchFilterSelected === result.name)) {
              return false;
            }
          }
          if (tagsFilterselected !== null){
            if (!(tagsFilterselected.includes(result.tag))) {
              return false;
            }
          }
          if (searchBarFilterSelected !== null){
            if (!(searchBarFilterSelected === result.name)) {
              return false;
            }
          }
          return true;
        });

        // Display the filtered results
        displayResults(filteredResults);
      }

      // Event listener for the search bar
      document.getElementById('search-bar-form').addEventListener('submit', (event) => {
        event.preventDefault();
        setSearchBarValues();
        searchPlacesResultsHandler();
      });

      
      // Event listener for the filter form
      document.getElementById('filter-form').addEventListener('submit', (event) => {
        event.preventDefault();
        setFilterValues();
        console.log("In\n");
        searchPlacesResultsHandler();
      });
      
  </script>

  <script>
    $(document).ready(function() {
      // get the height of .nav1
      var nav1Height = $('.nav1').height();
      var nav2Height = $('.nav2').height();

      // set the margin-top of .nav2 to the height of .nav1
      $('.container-search').css('margin-top', nav1Height + nav2Height + 'px');
    });
  </script>
{% endblock %}