{% extends "index.html" %}

{% block content %}
    <div class="container-search">
          <!-- Search form for Travel tab -->
          <form class="form-container" id="search-bar-form">
            <div class="form-group search_box" style="margin-left: 600px;">
                <input type="text" class="form-control wide_search" name="from_location" id="from_location" placeholder="From...">
                <div class="search-results" id="search-results-from" style="display: none;">
                    <ul></ul>
                </div>
            </div>
            <div class="form-group search_box">
                <input type="text" class="form-control wide_search" name="to_location" id="to_location" placeholder="To...">
                <div class="search-results" id="search-results-to" style="display: none;">
                    <ul></ul>
                </div>
            </div>
            <div class="form-group search_box" style="margin-left: 600px;">
                <select class="form-control wide_search" name="mode_of_transport" id = "mode_of_transport">
                  <option value="Train">Train</option>
                  <option value="Flight">Flight</option>
                  <option value="Both">Both</option>
                </select>
            </div>
            <div class="form-check" style="margin-right: 60px;">
            <input class="form-check-input" type="checkbox" id="checkbox">
            <label class="form-check-label" for="checkbox">Display transport details</label>
            </div>
            
            <div class="form-group search_box">
                <button type="submit" class="btn btn-default">Go</button>
            </div>
            
          </form>
    </div>
  <script src = "static/script.js" defer></script>
  <script>
    $(document).ready(function() {
      searchInputHandler('from_location', 'search-results-from', 'cities', 'cityname');
    });
    
    $(document).on('click', '.dropdown-item', function() {
      var value = $(this).text();
      $('#from_location').val(value);
      $('#search-results-from').hide();
    });


    $(document).ready(function() {
      searchInputHandler('to_location', 'search-results-to', 'cities', 'cityname');
    });
    
    $(document).on('click', '.dropdown-item', function() {
      var value = $(this).text();
      $('#to_location').val(value);
      $('#search-results-to').hide();
    });
  </script>

  <script>
  let src = null;
  let dst = null;
  let mode = null;
  let trdetails = null;

  function setSearchBarValues() {
    src = $('#from_location').val();
    dst = $('#to_location').val();
    mode = $('#mode_of_transport').val();
    trdetails = document.getElementById("checkbox").checked;
  }

  function searchTravelResultsHandler() {
    $.ajax({
      type: 'GET',
      url: '/search_travel',
      data: {'src': src, 'dst': dst, 'mode': mode, 'trdetails': trdetails},
      success: function(response) {
        var results = response.data;
        for (var i = 0; i < results.length; i++) {
          var item = $('<li>').text(results[i]);
          console.log(results[i]+'\n');
        }
        // displayResults(results);
      },
      error: function(error) {
        console.log(error);
      }
    });
  }

  // Event listener for the search bar
  document.getElementById('search-bar-form').addEventListener('submit', (event) => {
    event.preventDefault();
    setSearchBarValues();
    searchTravelResultsHandler();
  });
  </script>

  <script>
    $(document).ready(function() {
    // get the height of .nav1
    var nav1Height = $('.nav1').height();
    var nav2Height = $('.nav2').height();

    // set the margin-top of .nav2 to the height of .nav1
    $('.container-search').css('margin-top', nav1Height + nav2Height + 'px');
    });
  </script>
{% endblock %}